{% extends 'layout.html' %}

{% block content %}
<div class="fullscreen_block hided">
	<div class="fs_grid_portfolio is_masonry">
		<div class="grid-port-item">
			<a href="/assets/img/gallery/masonry/1.jpg" class="prettyPhoto" data-rel="prettyPhoto[gallery99]" title="">
				<img src="/assets/img/gallery/masonry/thumbs/1.jpg" alt="" class="fw_featured_image">
				<div class="grid-port-fadder"></div>
				<div class="grid-port-cont">
					<span class="grid-port-ico gallery-port-ico"></span>
				</div>
			</a>
		</div>
		<div class="grid-port-item">
			<a href="/assets/img/gallery/masonry/2.jpg" class="prettyPhoto" data-rel="prettyPhoto[gallery99]" title="">
				<img src="/assets/img/gallery/masonry/thumbs/2.jpg" alt="" class="fw_featured_image">
				<div class="grid-port-fadder"></div>
				<div class="grid-port-cont">
					<span class="grid-port-ico gallery-port-ico"></span>
				</div>
			</a>
		</div>
		<div class="grid-port-item">
			<a href="/assets/img/gallery/masonry/3.jpg" class="prettyPhoto" data-rel="prettyPhoto[gallery99]" title="">
				<img src="/assets/img/gallery/masonry/thumbs/3.jpg" alt="" class="fw_featured_image">
				<div class="grid-port-fadder"></div>
				<div class="grid-port-cont">
					<span class="grid-port-ico gallery-port-ico"></span>
				</div>
			</a>
		</div>
		<div class="grid-port-item">
			<a href="/assets/img/gallery/masonry/4.jpg" class="prettyPhoto" data-rel="prettyPhoto[gallery99]" title="">
				<img src="/assets/img/gallery/masonry/thumbs/4.jpg" alt="" class="fw_featured_image">
				<div class="grid-port-fadder"></div>
				<div class="grid-port-cont">
					<span class="grid-port-ico gallery-port-ico"></span>
				</div>
			</a>
		</div>
		<div class="grid-port-item">
			<a href="/assets/img/gallery/masonry/5.jpg" class="prettyPhoto" data-rel="prettyPhoto[gallery99]" title="">
				<img src="/assets/img/gallery/masonry/thumbs/5.jpg" alt="" class="fw_featured_image">
				<div class="grid-port-fadder"></div>
				<div class="grid-port-cont">
					<span class="grid-port-ico gallery-port-ico"></span>
				</div>
			</a>
		</div>
		<div class="grid-port-item">
			<a href="/assets/img/gallery/masonry/6.jpg" class="prettyPhoto" data-rel="prettyPhoto[gallery99]" title="">
				<img src="/assets/img/gallery/masonry/thumbs/6.jpg" alt="" class="fw_featured_image">
				<div class="grid-port-fadder"></div>
				<div class="grid-port-cont">
					<span class="grid-port-ico gallery-port-ico"></span>
				</div>
			</a>
		</div>
		<div class="grid-port-item">
			<a href="/assets/img/gallery/masonry/7.jpg" class="prettyPhoto" data-rel="prettyPhoto[gallery99]" title="">
				<img src="/assets/img/gallery/masonry/thumbs/7.jpg" alt="" class="fw_featured_image">
				<div class="grid-port-fadder"></div>
				<div class="grid-port-cont">
					<span class="grid-port-ico gallery-port-ico"></span>
				</div>
			</a>
		</div>
		<div class="grid-port-item">
			<a href="/assets/img/gallery/masonry/8.jpg" class="prettyPhoto" data-rel="prettyPhoto[gallery99]" title="">
				<img src="/assets/img/gallery/masonry/thumbs/8.jpg" alt="" class="fw_featured_image">
				<div class="grid-port-fadder"></div>
				<div class="grid-port-cont">
					<span class="grid-port-ico gallery-port-ico"></span>
				</div>
			</a>
		</div>
		<div class="grid-port-item">
			<a href="/assets/img/gallery/masonry/9.jpg" class="prettyPhoto" data-rel="prettyPhoto[gallery99]" title="">
				<img src="/assets/img/gallery/masonry/thumbs/9.jpg" alt="" class="fw_featured_image">
				<div class="grid-port-fadder"></div>
				<div class="grid-port-cont">
					<span class="grid-port-ico gallery-port-ico"></span>
				</div>
			</a>
		</div>
		<div class="grid-port-item">
			<a href="/assets/img/gallery/masonry/10.jpg" class="prettyPhoto" data-rel="prettyPhoto[gallery99]" title="">
				<img src="/assets/img/gallery/masonry/thumbs/10.jpg" alt="" class="fw_featured_image">
				<div class="grid-port-fadder"></div>
				<div class="grid-port-cont">
					<span class="grid-port-ico gallery-port-ico"></span>
				</div>
			</a>
		</div>
		<div class="grid-port-item">
			<a href="/assets/img/gallery/masonry/11.jpg" class="prettyPhoto" data-rel="prettyPhoto[gallery99]" title="">
				<img src="/assets/img/gallery/masonry/thumbs/11.jpg" alt="" class="fw_featured_image">
				<div class="grid-port-fadder"></div>
				<div class="grid-port-cont">
					<span class="grid-port-ico gallery-port-ico"></span>
				</div>
			</a>
		</div>
		<div class="grid-port-item">
			<a href="/assets/img/gallery/masonry/12.jpg" class="prettyPhoto" data-rel="prettyPhoto[gallery99]" title="">
				<img src="/assets/img/gallery/masonry/thumbs/12.jpg" alt="" class="fw_featured_image">
				<div class="grid-port-fadder"></div>
				<div class="grid-port-cont">
					<span class="grid-port-ico gallery-port-ico"></span>
				</div>
			</a>
		</div>
		<div class="grid-port-item">
			<a href="/assets/img/gallery/masonry/13.jpg" class="prettyPhoto" data-rel="prettyPhoto[gallery99]" title="">
				<img src="/assets/img/gallery/masonry/thumbs/13.jpg" alt="" class="fw_featured_image">
				<div class="grid-port-fadder"></div>
				<div class="grid-port-cont">
					<span class="grid-port-ico gallery-port-ico"></span>
				</div>
			</a>
		</div>
		<div class="grid-port-item">
			<a href="/assets/img/gallery/masonry/14.jpg" class="prettyPhoto" data-rel="prettyPhoto[gallery99]" title="">
				<img src="/assets/img/gallery/masonry/thumbs/14.jpg" alt="" class="fw_featured_image">
				<div class="grid-port-fadder"></div>
				<div class="grid-port-cont">
					<span class="grid-port-ico gallery-port-ico"></span>
				</div>
			</a>
		</div>
		<div class="grid-port-item">
			<a href="/assets/img/gallery/masonry/15.jpg" class="prettyPhoto" data-rel="prettyPhoto[gallery99]" title="">
				<img src="/assets/img/gallery/masonry/thumbs/15.jpg" alt="" class="fw_featured_image">
				<div class="grid-port-fadder"></div>
				<div class="grid-port-cont">
					<span class="grid-port-ico gallery-port-ico"></span>
				</div>
			</a>
		</div>
		<div class="grid-port-item">
			<a href="/assets/img/gallery/masonry/16.jpg" class="prettyPhoto" data-rel="prettyPhoto[gallery99]" title="">
				<img src="/assets/img/gallery/masonry/thumbs/16.jpg" alt="" class="fw_featured_image">
				<div class="grid-port-fadder"></div>
				<div class="grid-port-cont">
					<span class="grid-port-ico gallery-port-ico"></span>
				</div>
			</a>
		</div>
		<div class="grid-port-item">
			<a href="/assets/img/gallery/masonry/17.jpg" class="prettyPhoto" data-rel="prettyPhoto[gallery99]" title="">
				<img src="/assets/img/gallery/masonry/thumbs/17.jpg" alt="" class="fw_featured_image">
				<div class="grid-port-fadder"></div>
				<div class="grid-port-cont">
					<span class="grid-port-ico gallery-port-ico"></span>
				</div>
			</a>
		</div>
		<div class="grid-port-item">
			<a href="/assets/img/gallery/masonry/18.jpg" class="prettyPhoto" data-rel="prettyPhoto[gallery99]" title="">
				<img src="/assets/img/gallery/masonry/thumbs/18.jpg" alt="" class="fw_featured_image">
				<div class="grid-port-fadder"></div>
				<div class="grid-port-cont">
					<span class="grid-port-ico gallery-port-ico"></span>
				</div>
			</a>
		</div>
		<div class="grid-port-item">
			<a href="/assets/img/gallery/masonry/19.jpg" class="prettyPhoto" data-rel="prettyPhoto[gallery99]" title="">
				<img src="/assets/img/gallery/masonry/thumbs/19.jpg" alt="" class="fw_featured_image">
				<div class="grid-port-fadder"></div>
				<div class="grid-port-cont">
					<span class="grid-port-ico gallery-port-ico"></span>
				</div>
			</a>
		</div>
		<div class="grid-port-item">
			<a href="/assets/img/gallery/masonry/20.jpg" class="prettyPhoto" data-rel="prettyPhoto[gallery99]" title="">
				<img src="/assets/img/gallery/masonry/thumbs/20.jpg" alt="" class="fw_featured_image">
				<div class="grid-port-fadder"></div>
				<div class="grid-port-cont">
					<span class="grid-port-ico gallery-port-ico"></span>
				</div>
			</a>
		</div>
		<div class="grid-port-item">
			<a href="/assets/img/gallery/masonry/21.jpg" class="prettyPhoto" data-rel="prettyPhoto[gallery99]" title="">
				<img src="/assets/img/gallery/masonry/thumbs/21.jpg" alt="" class="fw_featured_image">
				<div class="grid-port-fadder"></div>
				<div class="grid-port-cont">
					<span class="grid-port-ico gallery-port-ico"></span>
				</div>
			</a>
		</div>
		<div class="grid-port-item">
			<a href="/assets/img/gallery/masonry/22.jpg" class="prettyPhoto" data-rel="prettyPhoto[gallery99]" title="">
				<img src="/assets/img/gallery/masonry/thumbs/22.jpg" alt="" class="fw_featured_image">
				<div class="grid-port-fadder"></div>
				<div class="grid-port-cont">
					<span class="grid-port-ico gallery-port-ico"></span>
				</div>
			</a>
		</div>
		<div class="grid-port-item">
			<a href="/assets/img/gallery/masonry/23.jpg" class="prettyPhoto" data-rel="prettyPhoto[gallery99]" title="">
				<img src="/assets/img/gallery/masonry/thumbs/23.jpg" alt="" class="fw_featured_image">
				<div class="grid-port-fadder"></div>
				<div class="grid-port-cont">
					<span class="grid-port-ico gallery-port-ico"></span>
				</div>
			</a>
		</div>
		<div class="grid-port-item">
			<a href="/assets/img/gallery/masonry/24.jpg" class="prettyPhoto" data-rel="prettyPhoto[gallery99]" title="">
				<img src="/assets/img/gallery/masonry/thumbs/24.jpg" alt="" class="fw_featured_image">
				<div class="grid-port-fadder"></div>
				<div class="grid-port-cont">
					<span class="grid-port-ico gallery-port-ico"></span>
				</div>
			</a>
		</div>
		<div class="grid-port-item">
			<a href="/assets/img/gallery/masonry/25.jpg" class="prettyPhoto" data-rel="prettyPhoto[gallery99]" title="">
				<img src="/assets/img/gallery/masonry/thumbs/25.jpg" alt="" class="fw_featured_image">
				<div class="grid-port-fadder"></div>
				<div class="grid-port-cont">
					<span class="grid-port-ico gallery-port-ico"></span>
				</div>
			</a>
		</div>
		<div class="grid-port-item">
			<a href="/assets/img/gallery/masonry/26.jpg" class="prettyPhoto" data-rel="prettyPhoto[gallery99]" title="">
				<img src="/assets/img/gallery/masonry/thumbs/26.jpg" alt="" class="fw_featured_image">
				<div class="grid-port-fadder"></div>
				<div class="grid-port-cont">
					<span class="grid-port-ico gallery-port-ico"></span>
				</div>
			</a>
		</div>
		<div class="grid-port-item">
			<a href="/assets/img/gallery/masonry/27.jpg" class="prettyPhoto" data-rel="prettyPhoto[gallery99]" title="">
				<img src="/assets/img/gallery/masonry/thumbs/27.jpg" alt="" class="fw_featured_image">
				<div class="grid-port-fadder"></div>
				<div class="grid-port-cont">
					<span class="grid-port-ico gallery-port-ico"></span>
				</div>
			</a>
		</div>
		<div class="grid-port-item">
			<a href="/assets/img/gallery/masonry/28.jpg" class="prettyPhoto" data-rel="prettyPhoto[gallery99]" title="">
				<img src="/assets/img/gallery/masonry/thumbs/28.jpg" alt="" class="fw_featured_image">
				<div class="grid-port-fadder"></div>
				<div class="grid-port-cont">
					<span class="grid-port-ico gallery-port-ico"></span>
				</div>
			</a>
		</div>
		<div class="grid-port-item">
			<a href="/assets/img/gallery/masonry/29.jpg" class="prettyPhoto" data-rel="prettyPhoto[gallery99]" title="">
				<img src="/assets/img/gallery/masonry/thumbs/29.jpg" alt="" class="fw_featured_image">
				<div class="grid-port-fadder"></div>
				<div class="grid-port-cont">
					<span class="grid-port-ico gallery-port-ico"></span>
				</div>
			</a>
		</div>
		<div class="grid-port-item">
			<a href="/assets/img/gallery/masonry/30.jpg" class="prettyPhoto" data-rel="prettyPhoto[gallery99]" title="">
				<img src="/assets/img/gallery/masonry/thumbs/30.jpg" alt="" class="fw_featured_image">
				<div class="grid-port-fadder"></div>
				<div class="grid-port-cont">
					<span class="grid-port-ico gallery-port-ico"></span>
				</div>
			</a>
		</div>
		<div class="grid-port-item">
			<a href="/assets/img/gallery/masonry/31.jpg" class="prettyPhoto" data-rel="prettyPhoto[gallery99]" title="">
				<img src="/assets/img/gallery/masonry/thumbs/31.jpg" alt="" class="fw_featured_image">
				<div class="grid-port-fadder"></div>
				<div class="grid-port-cont">
					<span class="grid-port-ico gallery-port-ico"></span>
				</div>
			</a>
		</div>
		<div class="grid-port-item">
			<a href="/assets/img/gallery/masonry/32.jpg" class="prettyPhoto" data-rel="prettyPhoto[gallery99]" title="">
				<img src="/assets/img/gallery/masonry/thumbs/32.jpg" alt="" class="fw_featured_image">
				<div class="grid-port-fadder"></div>
				<div class="grid-port-cont">
					<span class="grid-port-ico gallery-port-ico"></span>
				</div>
			</a>
		</div>
	</div>
</div>
<div class="la-anim-11 la-animate preloader"></div>
<script>
	jQuery(document).ready(function(){
		"use strict";
		jQuery('.grid-port-cont').each(function(){
			jQuery(this).css('margin-top', -1*(jQuery(this).height()/2)+'px')
		});
		if (jQuery('.pagline_toggler').size() > 0) {
			jQuery('html').addClass('hasPag');
		}
		jQuery('.is_masonry').masonry();
	});
	jQuery(window).load(function () {
		"use strict";
		jQuery('.is_masonry').masonry();
		setTimeout("jQuery('.is_masonry').masonry()",1000);
	});
	jQuery(window).resize(function () {
		"use strict";
		jQuery('.is_masonry').masonry();
	});
	jQuery(document).ready(function(){
		"use strict";
		setTimeout(function(){
			jQuery('.fullscreen_block').removeClass('hided');
			if (jQuery('.fw_line').size() > 0) jQuery('.fw_line').addClass('loaded');
		},2500);
		setTimeout("jQuery('.preloader').remove()",2700);
		setTimeout("jQuery('.is_masonry').masonry()",3000);
	});
</script>
{% endblock %}
