{% extends 'layout.html' %}

{% block content %}
<script id="#fincave-template" type="text/x-handlebars-template">
	<div class="grid-port-item">
		<a href="#" class="prettyPhoto" data-rel="prettyPhoto[{{id}}]" title="">
			<img src="{{url}}" alt="" class="fw_featured_image">
			<div class="grid-port-fadder"></div>
			<div class="grid-port-cont">
				<span class="grid-port-ico gallery-port-ico"></span>
			</div>
		</a>
	</div>
</script>

<div class="fullscreen_block hided">
	<div class="fs_grid_portfolio is_masonry" id="#fincave">
	</div>
</div>
<div class="la-anim-11 la-animate preloader"></div>
<script>
	jQuery(document).ready(function(){
		"use strict";
		jQuery('.grid-port-cont').each(function(){
			jQuery(this).css('margin-top', -1*(jQuery(this).height()/2)+'px')
		});
		if (jQuery('.pagline_toggler').size() > 0) {
			jQuery('html').addClass('hasPag');
		}
		jQuery('.is_masonry').masonry();
	});
	jQuery(window).load(function () {
		"use strict";
		jQuery('.is_masonry').masonry();
		setTimeout("jQuery('.is_masonry').masonry()",1000);
	});
	jQuery(window).resize(function () {
		"use strict";
		jQuery('.is_masonry').masonry();
	});
	jQuery(document).ready(function(){
		"use strict";
		setTimeout(function(){
			jQuery('.fullscreen_block').removeClass('hided');
			if (jQuery('.fw_line').size() > 0) jQuery('.fw_line').addClass('loaded');
		},2500);
		setTimeout("jQuery('.preloader').remove()",2700);
		setTimeout("jQuery('.is_masonry').masonry()",3000);
	});
</script>

<!-- Socket.io implementation -->
<script>
    var socket = io.connect('http://localhost:3000', {'transports': ["websocket", "polling"]});
    socket.on('#fincave-template', function(image) {
		console.log(image);
        var source = $("fincave").html();
		var template = Handlebars.compile(source);
		var html = template(image);
		$("#fincave").append(html);
    })
</script>

{% endblock %}
