{% extends 'layout.html' %}

{% block content %}
<div class="main_wrapper">
    <div class="content_wrapper">
        <div class="container">
        	<div class="content_block no-sidebar row">
            	<div  class="fl-container span12">
                    <div class="row">
                        <div class="posts-block span12">
                            <div class="contentarea">
                                <div class="row">
                                    <div class="span12 module_cont module_blog module_none_padding">
                                        <div class="blog_post_page">
                                            <h2>@ Jacksonville Jaguars</h2>
                                            <div id="countdown"></div>
                                            <div class="blog_post_content">
                                                <div class="blog_post-meta">
                                                    <span>October 26, 2014, 1:00-4:00pm</span>
                                                </div>
                                            </div>
                                        </div>
                                        <!--.blog_post_page -->
                                    </div>
                                </div>
                                <div class="row">
                                	<div class="span12 module_cont module_small_padding module_feature_posts">
                                    	<div class="bg_title"><h4 class="headInModule">Upcoming Events</h4></div>
                                        <div class="featured_items">
                                            <div class="items4 featured_posts">
                                                <ul class="item_list">
                                                    <li>
                                                        <div class="item">
                                                            <div class="img_block wrapped_img">
                                                                <a href="#">
                                                                    <img src="http://placehold.it/570x400/00656a/fff&text=vs" alt="" />
                                                                <div class="featured_item_fadder"></div>
                                                                <div class="featured_link_ico"></div></a></div>
                                                            <div class="featured_items_body featured_posts_body">
                                                                <div class="featured_items_title">
                                                                    <h6><a href="#">vs. San Diego Chargers</a></h6>
                                                                    <div class="featured_items_meta">
                                                                        <span class="preview_meta_data">November 2, 2014</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="item">
                                                            <div class="img_block wrapped_img">
                                                                <a href="#">
                                                                <img src="http://placehold.it/570x400/00656a/fff&text=at" alt="" />
                                                                <div class="featured_item_fadder"></div>
                                                                <div class="featured_link_ico"></div>
                                                                </a>
                                                                </div>
                                                            <div class="featured_items_body featured_posts_body">
                                                                <div class="featured_items_title">
                                                                    <h6><a href="#">@ Detroit Lions</a></h6>
                                                                    <div class="featured_items_meta">
                                                                        <span class="preview_meta_data">November 9, 2014</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="item">
                                                            <div class="img_block wrapped_img">
                                                                <a href="#">
                                                                    <img src="http://placehold.it/570x400/00656a/fff&text=vs" alt="" />
                                                                <div class="featured_item_fadder"></div>
                                                                <div class="featured_link_ico"></div></a></div>
                                                            <div class="featured_items_body featured_posts_body">
                                                                <div class="featured_items_title">
                                                                    <h6><a href="#">vs. Buffalo Bills</a></h6>
                                                                    <div class="featured_items_meta">
                                                                        <span class="preview_meta_data">November 13, 2014</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="item">
                                                            <div class="img_block wrapped_img">
                                                                <a href="#">
                                                                    <img src="http://placehold.it/570x400/00656a/fff&text=at" alt="" />
                                                                <div class="featured_item_fadder"></div>
                                                                <div class="featured_link_ico"></div></a></div>
                                                            <div class="featured_items_body featured_posts_body">
                                                                <div class="featured_items_title">
                                                                    <h6><a href="#">@ Denver Broncos</a></h6>
                                                                    <div class="featured_items_meta">
                                                                        <span class="preview_meta_data">December 1, 2014</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                	</div>
                                </div>

                        	</div><!-- .contentarea -->
                    	</div>
                    </div>
                    <div class="clear"><!-- ClearFix --></div>
                </div><!-- .fl-container -->
                <div class="clear"><!-- ClearFix --></div>
            </div>
        </div><!-- .container -->
    </div><!-- .content_wrapper -->
</div><!-- .main_wrapper -->

<script type="text/javascript" src="/assets/js/jquery.countdown.min.js"></script>
<script>
    jQuery(function () {
        // eventDay = new Date();
        // eventDay = new Date(2014, 10-1, 27);
        jQuery('#countdown').countdown({until: '+4h +29m +15s', format: 'HMS'});
    });
</script>
{% endblock %}
