<div class="main_wrapper">
    <div class="content_wrapper">
        <div class="container">
        	<div class="content_block no-sidebar row">
            	<div  class="fl-container span12">
                    <div class="row">
                        <div class="posts-block span12">
                            <div class="contentarea">
                                <div class="row">
                                    <div class="span12 module_cont module_blog module_none_padding">
                                        <div class="blog_post_page">
                                            <div class="featured_image_full blog_post_image">
                                                <div class="slider-wrapper theme-default">
                                                    <div class="nivoSlider ">
                                                        <img src="img/blog/fullwidth_1.jpg" alt="" />
                                                        <img src="img/blog/fullwidth_2.jpg" alt="" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="blog_post_content">
                                                <div class="blog_post-meta">
                                                    <span><a href="#" title="Posts by gt3dev" rel="author">Miami Dolphins vs Some Team</a></span>
                                                    <span>March 04, 2014</span>
                                                </div>
                                            </div>
                                            <section class="blogpost_user_meta">
                                                <div class="author-ava">
                                                    <img alt="" src="img/blog/avatar.jpg" class="avatar avatar-80 photo" height="80" width="80" />
                                                </div>
                                                <div class="author-name"><h6>About the Author: <a href="#" title="Posts by gt3dev" rel="author">gt3dev</a></h6></div>
                                                <div
                                                    class="author-description">Ut adipiscing ornare tortor id tincidunt. Ut molestie justo eget volutpat sagittis lectus lorem egesta sapien adipiscing neque, sit amet lacinia velit neque vel metus cras ac sapien ante nullam arcu felis sagittis sollicitudin urna non, rhoncus scelerisque metus aenean posuere.</div>
                                                <div class="clear"></div>
                                            </section>

                                            <section class="blog_post-footer">
                                                <div class="prev_next_links">
                                                    <div class="fleft"><a href="#">Video Post With Left Sidebar</a></div>
                                                    <div class="fright"><a href="#">One More Fullwidth Image Post</a></div>
                                                </div>
                                                <div class="blogpost_share">
                                                    <a href="#" class="share_facebook"><i class="stand_icon icon-facebook-sign"></i></a>
                                                    <a href="#" class="share_pinterest"><i class="stand_icon icon-pinterest"></i></a>
                                                    <a href="#" class="share_gplus"><i class="icon-google-plus-sign"></i></a>
                                                    <a href="#" class="share_tweet"><i class="stand_icon icon-twitter"></i></a>
                                                    <div class="clear"></div>
                                                </div>
                                                <div class="clear"></div>
                                            </section>
                                        </div>
                                        <!--.blog_post_page -->
                                    </div>
                                </div>
                                <div class="row">
                                	<div class="span12 module_cont module_small_padding module_feature_posts">
                                    	<div class="bg_title"><h4 class="headInModule">Upcoming Events</h4></div>
                                        <div class="featured_items">
                                            <div class="items4 featured_posts">
                                                <ul class="item_list">
                                                    <li>
                                                        <div class="item">
                                                            <div class="img_block wrapped_img"><a href="#"><img src="img/blog/related_1.jpg" alt="" /><div class="featured_item_fadder"></div><div class="featured_link_ico"></div></a></div>
                                                            <div class="featured_items_body featured_posts_body">
                                                                <div class="featured_items_title">
                                                                    <h6><a href="#">Dolor sit amet</a></h6>
                                                                    <div class="featured_items_meta">
                                                                        <span class="preview_meta_data">March 04, 2014</span>
                                                                        <span class="preview_meta_comments"><a href="#">0 comments</a></span>
                                                                    </div>
                                                                </div>
                                                                <div class="featured_item_content">
                                                                	Lorem ipsum dolor sit amet dolor, ac consectetur adipiscing elit egetfusce lacinia sed <a href="#">Read more!</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="item">
                                                            <div class="img_block wrapped_img"><a href="#"><img src="img/blog/related_2.jpg" alt="" /><div class="featured_item_fadder"></div><div class="featured_link_ico"></div></a></div>
                                                            <div class="featured_items_body featured_posts_body">
                                                                <div class="featured_items_title">
                                                                    <h6><a href="#">Egetfusce lacinia sed</a></h6>
                                                                    <div class="featured_items_meta">
                                                                        <span class="preview_meta_data">March 04, 2014</span>
                                                                        <span class="preview_meta_comments"><a href="#">0 comments</a></span>
                                                                    </div>
                                                                </div>
                                                                <div class="featured_item_content">
                                                                   Lorem ipsum dolor sit amet dolor, ac consectetur adipiscing elit egetfusce lacinia sed <a href="#">Read more!</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="item">
                                                            <div class="img_block wrapped_img"><a href="#"><img src="img/blog/related_3.jpg" alt="" /><div class="featured_item_fadder"></div><div class="featured_link_ico"></div></a></div>
                                                            <div class="featured_items_body featured_posts_body">
                                                                <div class="featured_items_title">
                                                                    <h6><a href="#">Elit egetfusce lacinia</a></h6>
                                                                    <div class="featured_items_meta">
                                                                        <span class="preview_meta_data">March 04, 2014</span>
                                                                        <span class="preview_meta_comments"><a href="#">0 comments</a></span>
                                                                    </div>
                                                                </div>
                                                                <div class="featured_item_content">
                                                                   Lorem ipsum dolor sit amet dolor, ac consectetur adipiscing elit egetfusce lacinia sed <a href="#">Read more!</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="item">
                                                            <div class="img_block wrapped_img"><a href="#"><img src="img/blog/related_4.jpg" alt="" /><div class="featured_item_fadder"></div><div class="featured_link_ico"></div></a></div>
                                                            <div class="featured_items_body featured_posts_body">
                                                                <div class="featured_items_title">
                                                                    <h6><a href="#">Lorem ipsum dolor</a></h6>
                                                                    <div class="featured_items_meta">
                                                                        <span class="preview_meta_data">March 04, 2014</span>
                                                                        <span class="preview_meta_comments"><a href="#">0 comments</a></span>
                                                                    </div>
                                                                </div>
                                                                <div class="featured_item_content">
                                                                   Lorem ipsum dolor sit amet dolor, ac consectetur adipiscing elit egetfusce lacinia sed <a href="#">Read more!</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                	</div>
                                </div>

                        	</div><!-- .contentarea -->
                    	</div>
                    </div>
                    <div class="clear"><!-- ClearFix --></div>
                </div><!-- .fl-container -->
                <div class="clear"><!-- ClearFix --></div>
            </div>
        </div><!-- .container -->
    </div><!-- .content_wrapper -->
</div><!-- .main_wrapper -->
