<!DOCTYPE html>
<html class="content-align-left">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link rel="shortcut icon" href="img/favico.ico" type="image/x-icon">
<link rel="apple-touch-icon" href="img/apple_icons_57x57.png">
<link rel="apple-touch-icon" sizes="72x72" href="img/apple_icons_72x72.png">
<link rel="apple-touch-icon" sizes="114x114" href="img/apple_icons_114x114.png">
<title>Eclipse</title>
<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,700,700italic,500" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="css/theme.css" type="text/css" media="all" />
<link rel="stylesheet" href="css/responsive.css" type="text/css" media="all" />
<link rel="stylesheet" href="css/custom.css" type="text/css" media="all" />
<script type="text/javascript" src="js/jquery.min.js"></script>
</head>
<body class="default-type">

	<!-- Start Sidebar -->
	<header class="menu-left main_header short_header">
        <div class="header_wrapper">
            <a href="javascript:void(0)" class="header_toggler"></a>
            <div class="logo_wrapper">
                <a href="index.html" class="logo"><img src="img/logo-fincave.png" alt="" class="logo_def"><img src="img/retina/logo.png" alt="" class="logo_retina"></a>
            </div>
            <nav>
                <div class="menu-main-menu-container">
                	<ul class="menu">
                    	<li class="mymenu-icon-home menu-item-has-children">
                        	<a href="#"><span>Home</span></a>
                         </li>
                         <li class="mymenu-icon-camera menu-item-has-children">
                         	<a href="#"><span>Gallery</span></a>
                            <ul class="sub-menu">
                                <li><a href="slider.html"><span>SLIDER</span></a></li>
                                <li><a href="gallery-kenburns.html"><span>KENBURNS</span></a></li>
                                <li><a href="gallery-grid.html"><span>GRID</span></a></li>
                                <li><a href="gallery-masonry.html"><span>MASONRY</span></a></li>
                                <li><a href="fullscreen-grid-video-gallery.html"><span>GRID VIDEO</span></a></li>
                            </ul>
                        </li>
                	</ul>
            	</div>
            </nav>
            <div class="footer">
                <section class="socials">
                    <ul class="socials_list">
                    	<li><a class="ico_social_facebook" target="_blank" href="http://facebook.com" title="Facebook"></a></li>
                        <li><a class="ico_social_pinterest" target="_blank" href="http://pinterest.com" title="Pinterest"></a></li>
                        <li><a class="ico_social_tumblr" target="_blank" href="http://tumblr.com" title="Tumblr"></a></li>
                        <li><a class="ico_social_dribbble" target="_blank" href="http://dribbble.com/" title="Dribbble"></a></li>
                        <li><a class="ico_social_500px" target="_blank" href="http://500px.com/" title="500px"></a></li>
                    </ul>
                </section>
                <section class="copyright">
                    &copy; 2020 All Rights Reserved
                </section>
            </div>
            <div class="clear"></div>
        </div>
    </header>
	<!-- END sidebar -->

    <div class="main_wrapper">
        <div class="content_wrapper">
            <div class="container">
            	<div class="content_block no-sidebar row">
                	<div  class="fl-container span12">
                        <div class="row">
                            <div class="posts-block span12">
                                <div class="contentarea">
                                    <div class="row">
                                        <div class="span12 module_cont module_blog module_none_padding">
                                            <div class="blog_post_page">
                                                <div class="featured_image_full blog_post_image">
                                                    <div class="slider-wrapper theme-default">
                                                        <div class="nivoSlider ">
                                                            <img src="img/blog/fullwidth_1.jpg" alt="" />
                                                            <img src="img/blog/fullwidth_2.jpg" alt="" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="blog_post_content">
                                                    <div class="blog_post-meta">
                                                        <span><a href="#" title="Posts by gt3dev" rel="author">Miami Dolphins vs Some Team</a></span>
                                                        <span>March 04, 2014</span>
                                                    </div>
                                                    <!-- <article class="contentarea">
                                                        <p>Sed quis ipsum eu mi condimentum vehicula. Nam sed nisi dictum, faucibus augue at, posuere nibh. Sed nec euismod justo. <a href="#">Duis cursus</a> rutrum molestie. Ut accumsan lorem nunc, ut lobortis urna hendrerit et. Sed non erat porta, feugiat mi nec, tincidunt massa. Maecenas faucibus sollicitudin justo, vitae molestie turpis porta ut. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vivamus adipiscing, purus eget fermentum iaculis, leo mi sodales purus, a convallis mi ipsum in elit. Aenean consequat sapien tincidunt dui auctor, ut adipiscing tellus fermentum. Maecenas dictum nisl in purus feugiat tempus.</p>
    <p>Sed sed augue adipiscing lorem tristique convallis dignissim id nulla. Interdum et malesuada fames ac ante ipsum nec primis in faucibus. Proin ornare ligula accumsan aliquet egestas. Maecenas non velit nec nulla commodo faucibus. Maecenas velit lacus, bibendum vel placerat a, scelerisque eu lacus. Pellentesque sollicitudin <a href="#">blandit neque.</a> Cras quis euismod sapien, et pulvinar ante. Phasellus ante libero, iaculis vitae ipsum sit amet, ultrices dignissim massa. Morbi ut ante elementum, consequat libero nec, ornare dui. Sed eleifend at lorem sit amet sagittis. Maecenas fermentum turpis libero, et imperdiet dui venenatis ut. Nam dictum enim ut massa bibendum consectetur. Fusce fermentum consequat massa, quis ornare turpis semper non. Sed viverra neque rutrum metus facilisis aliquam sed malesuada rutrum odio.</p>
                                                    </article> -->
                                                </div>
                                                <section class="blogpost_user_meta">
                                                    <div class="author-ava">
                                                        <img alt="" src="img/blog/avatar.jpg" class="avatar avatar-80 photo" height="80" width="80" />
                                                    </div>
                                                    <div class="author-name"><h6>About the Author: <a href="#" title="Posts by gt3dev" rel="author">gt3dev</a></h6></div>
                                                    <div
                                                        class="author-description">Ut adipiscing ornare tortor id tincidunt. Ut molestie justo eget volutpat sagittis lectus lorem egesta sapien adipiscing neque, sit amet lacinia velit neque vel metus cras ac sapien ante nullam arcu felis sagittis sollicitudin urna non, rhoncus scelerisque metus aenean posuere.</div>
                                                    <div class="clear"></div>
                                                </section>

                                                <section class="blog_post-footer">
                                                    <div class="prev_next_links">
                                                        <div class="fleft"><a href="#">Video Post With Left Sidebar</a></div>
                                                        <div class="fright"><a href="#">One More Fullwidth Image Post</a></div>
                                                    </div>
                                                    <div class="blogpost_share">
                                                        <a href="#" class="share_facebook"><i class="stand_icon icon-facebook-sign"></i></a>
                                                        <a href="#" class="share_pinterest"><i class="stand_icon icon-pinterest"></i></a>
                                                        <a href="#" class="share_gplus"><i class="icon-google-plus-sign"></i></a>
                                                        <a href="#" class="share_tweet"><i class="stand_icon icon-twitter"></i></a>
                                                        <div class="clear"></div>
                                                    </div>
                                                    <div class="clear"></div>
                                                </section>
                                            </div>
                                            <!--.blog_post_page -->
                                        </div>
                                    </div>
                                    <div class="row">
                                    	<div class="span12 module_cont module_small_padding module_feature_posts">
                                        	<div class="bg_title"><h4 class="headInModule">Upcoming Events</h4></div>
                                            <div class="featured_items">
                                                <div class="items4 featured_posts">
                                                    <ul class="item_list">
                                                        <li>
                                                            <div class="item">
                                                                <div class="img_block wrapped_img"><a href="#"><img src="img/blog/related_1.jpg" alt="" /><div class="featured_item_fadder"></div><div class="featured_link_ico"></div></a></div>
                                                                <div class="featured_items_body featured_posts_body">
                                                                    <div class="featured_items_title">
                                                                        <h6><a href="#">Dolor sit amet</a></h6>
                                                                        <div class="featured_items_meta">
                                                                            <span class="preview_meta_data">March 04, 2014</span>
                                                                            <span class="preview_meta_comments"><a href="#">0 comments</a></span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="featured_item_content">
                                                                    	Lorem ipsum dolor sit amet dolor, ac consectetur adipiscing elit egetfusce lacinia sed <a href="#">Read more!</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="item">
                                                                <div class="img_block wrapped_img"><a href="#"><img src="img/blog/related_2.jpg" alt="" /><div class="featured_item_fadder"></div><div class="featured_link_ico"></div></a></div>
                                                                <div class="featured_items_body featured_posts_body">
                                                                    <div class="featured_items_title">
                                                                        <h6><a href="#">Egetfusce lacinia sed</a></h6>
                                                                        <div class="featured_items_meta">
                                                                            <span class="preview_meta_data">March 04, 2014</span>
                                                                            <span class="preview_meta_comments"><a href="#">0 comments</a></span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="featured_item_content">
                                                                       Lorem ipsum dolor sit amet dolor, ac consectetur adipiscing elit egetfusce lacinia sed <a href="#">Read more!</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="item">
                                                                <div class="img_block wrapped_img"><a href="#"><img src="img/blog/related_3.jpg" alt="" /><div class="featured_item_fadder"></div><div class="featured_link_ico"></div></a></div>
                                                                <div class="featured_items_body featured_posts_body">
                                                                    <div class="featured_items_title">
                                                                        <h6><a href="#">Elit egetfusce lacinia</a></h6>
                                                                        <div class="featured_items_meta">
                                                                            <span class="preview_meta_data">March 04, 2014</span>
                                                                            <span class="preview_meta_comments"><a href="#">0 comments</a></span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="featured_item_content">
                                                                       Lorem ipsum dolor sit amet dolor, ac consectetur adipiscing elit egetfusce lacinia sed <a href="#">Read more!</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="item">
                                                                <div class="img_block wrapped_img"><a href="#"><img src="img/blog/related_4.jpg" alt="" /><div class="featured_item_fadder"></div><div class="featured_link_ico"></div></a></div>
                                                                <div class="featured_items_body featured_posts_body">
                                                                    <div class="featured_items_title">
                                                                        <h6><a href="#">Lorem ipsum dolor</a></h6>
                                                                        <div class="featured_items_meta">
                                                                            <span class="preview_meta_data">March 04, 2014</span>
                                                                            <span class="preview_meta_comments"><a href="#">0 comments</a></span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="featured_item_content">
                                                                       Lorem ipsum dolor sit amet dolor, ac consectetur adipiscing elit egetfusce lacinia sed <a href="#">Read more!</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                    	</div>
                                    </div>

                            	</div><!-- .contentarea -->
                        	</div>
                        </div>
                        <div class="clear"><!-- ClearFix --></div>
                    </div><!-- .fl-container -->
                    <div class="clear"><!-- ClearFix --></div>
                </div>
            </div><!-- .container -->
        </div><!-- .content_wrapper -->
    </div><!-- .main_wrapper -->

	<div class="custom_bg" style="background-color:#fff;"></div>
	<script type="text/javascript" src="js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="js/modules.js"></script>
	<script type="text/javascript" src="js/theme.js"></script>
</body>
</html>
