<!doctype html>
<html>
<head>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link rel="shortcut icon" href="/assets/img/favico.ico" type="image/x-icon">
		<link rel="apple-touch-icon" href="/assets/img/apple_icons_57x57.png">
		<link rel="apple-touch-icon" sizes="72x72" href="img/apple_icons_72x72.png">
		<link rel="apple-touch-icon" sizes="114x114" href="img/apple_icons_114x114.png">
		<title>{% block title %}FinCave{% endblock %}</title>
		<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" type="text/css">
		<link href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,700,700italic,500" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="/assets/css/theme.css" type="text/css" media="all" />
		<link rel="stylesheet" href="/assets/css/responsive.css" type="text/css" media="all" />
		<link rel="stylesheet" href="/assets/css/custom.css" type="text/css" media="all" />
		<script type="text/javascript" src="/assets/js/jquery.min.js"></script>
	</head>
</head>
<body>
	<header class="menu-left main_header short_header">
		<div class="header_wrapper">
			<a href="javascript:void(0)" class="header_toggler"></a>
			<div class="logo_wrapper">
				<a href="index.html" class="logo"><img src="/assets/img/logo-fincave.png" alt="" class="logo_def"><img src="img/retina/logo.png" alt="" class="logo_retina"></a>
			</div>
			<nav>
				<div class="menu-main-menu-container">
					<ul class="menu">
						<li class="mymenu-icon-home menu-item-has-children">
							<a href="#"><span>Home</span></a>
						</li>
						<li class="mymenu-icon-camera menu-item-has-children">
							<a href="#"><span>Gallery</span></a>
							<ul class="sub-menu">
								<li><a href="slider.html"><span>SLIDER</span></a></li>
								<li><a href="gallery-kenburns.html"><span>KENBURNS</span></a></li>
								<li><a href="gallery-grid.html"><span>GRID</span></a></li>
								<li><a href="gallery-masonry.html"><span>MASONRY</span></a></li>
								<li><a href="fullscreen-grid-video-gallery.html"><span>GRID VIDEO</span></a></li>
							</ul>
						</li>
					</ul>
				</div>
			</nav>
			<div class="footer">
				<section class="socials">
					<ul class="socials_list">
						<li><a class="ico_social_facebook" target="_blank" href="http://facebook.com" title="Facebook"></a></li>
						<li><a class="ico_social_pinterest" target="_blank" href="http://pinterest.com" title="Pinterest"></a></li>
						<li><a class="ico_social_tumblr" target="_blank" href="http://tumblr.com" title="Tumblr"></a></li>
						<li><a class="ico_social_dribbble" target="_blank" href="http://dribbble.com/" title="Dribbble"></a></li>
						<li><a class="ico_social_500px" target="_blank" href="http://500px.com/" title="500px"></a></li>
					</ul>
				</section>
				<section class="copyright">
					&copy; 2020 All Rights Reserved
				</section>
			</div>
			<div class="clear"></div>
		</div>
	</header>

 	{% block content %}{% endblock %}

	<div class="custom_bg" style="background-color:#fff;"></div>
	<script type="text/javascript" src="/assets/js/jquery-ui.min.js"></script>
	<script type="text/javascript" src="/assets/js/modules.js"></script>
	<script type="text/javascript" src="/assets/js/theme.js"></script>
</body>
</html>
