<!DOCTYPE html>
<html class="fullscreen content-align-left">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link rel="shortcut icon" href="/assets/img/favico.ico" type="image/x-icon">
<link rel="apple-touch-icon" href="/assets/img/apple_icons_57x57.png">
<link rel="apple-touch-icon" sizes="72x72" href="/assets/img/apple_icons_72x72.png">
<link rel="apple-touch-icon" sizes="114x114" href="/assets/img/apple_icons_114x114.png">
<title>Eclipse</title>
<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,700,700italic,500" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="css/theme.css" type="text/css" media="all" />
<link rel="stylesheet" href="css/responsive.css" type="text/css" media="all" />
<link rel="stylesheet" href="css/custom.css" type="text/css" media="all" />
<script type="text/javascript" src="js/jquery.min.js"></script>
</head>
<body class="default-type">

	<div class="fullscreen_block hided">
	    <div class="fs_grid_portfolio portfolio_sorting" id="fincave">
            <div class="advertisement element grid-port-item">
                <a href="portfolio-simple-post.html" class="blogpost_title">
                    <img src="/assets/img/portfolio/grid/1.jpg" alt="" class="fw_featured_image" width="540" height="420">
                    <div class="grid-port-fadder"></div>
                    <div class="grid-port-cont">
                        <span class="grid-port-ico"></span>
                        <h6>Lorem ipsum dolor sit amet</h6>
                    </div>
                </a>
            </div>
            <div class="architecture element grid-port-item">
                <a href="portfolio-simple-post.html" class="blogpost_title">
                    <img src="/assets/img/portfolio/grid/2.jpg" alt="" class="fw_featured_image" width="540" height="420">
                    <div class="grid-port-fadder"></div>
                    <div class="grid-port-cont">
                        <span class="grid-port-ico"></span>
                        <h6>Consect etur adipiscing elit</h6>
                    </div>
                </a>
            </div>
            <div class="fashion element grid-port-item">
                <a href="portfolio-simple-post.html" class="blogpost_title">
                    <img src="/assets/img/portfolio/grid/3.jpg" alt="" class="fw_featured_image" width="540" height="420">
                    <div class="grid-port-fadder"></div>
                    <div class="grid-port-cont">
                        <span class="grid-port-ico"></span>
                        <h6>Sed cursus ante dapibus diam</h6>
                    </div>
                </a>
            </div>
            <div class="nature element grid-port-item">
                <a href="portfolio-simple-post.html" class="blogpost_title">
                    <img src="/assets/img/portfolio/grid/4.jpg" alt="" class="fw_featured_image" width="540" height="420">
                    <div class="grid-port-fadder"></div>
                    <div class="grid-port-cont">
                        <span class="grid-port-ico"></span>
                        <h6>Nulla quis sem at elementum</h6>
                    </div>
                </a>
            </div>
            <div class="portrait element grid-port-item">
                <a href="portfolio-simple-post.html" class="blogpost_title">
                    <img src="/assets/img/portfolio/grid/5.jpg" alt="" class="fw_featured_image" width="540" height="420">
                    <div class="grid-port-fadder"></div>
                    <div class="grid-port-cont">
                        <span class="grid-port-ico"></span>
                        <h6>Fusce nec tellus sed augue</h6>
                    </div>
                </a>
            </div>
            <div class="stuff element grid-port-item">
                <a href="portfolio-simple-post.html" class="blogpost_title">
                    <img src="/assets/img/portfolio/grid/6.jpg" alt="" class="fw_featured_image" width="540" height="420">
                    <div class="grid-port-fadder"></div>
                    <div class="grid-port-cont">
                        <span class="grid-port-ico"></span>
                        <h6>Vestibulum lacinia arcu nulla</h6>
                    </div>
                </a>
            </div>
            <div class="advertisement element grid-port-item">
                <a href="portfolio-simple-post.html" class="blogpost_title">
                    <img src="/assets/img/portfolio/grid/7.jpg" alt="" class="fw_featured_image" width="540" height="420">
                    <div class="grid-port-fadder"></div>
                    <div class="grid-port-cont">
                        <span class="grid-port-ico"></span>
                        <h6>Class aptent taciti sociosqu litora</h6>
                    </div>
                </a>
            </div>
            <div class="architecture element grid-port-item">
                <a href="portfolio-simple-post.html" class="blogpost_title">
                    <img src="/assets/img/portfolio/grid/8.jpg" alt="" class="fw_featured_image" width="540" height="420">
                    <div class="grid-port-fadder"></div>
                    <div class="grid-port-cont">
                        <span class="grid-port-ico"></span>
                        <h6>Sed dignissim lacinia nunc</h6>
                    </div>
                </a>
            </div>
            <div class="fashion element grid-port-item">
                <a href="portfolio-simple-post.html" class="blogpost_title">
                    <img src="/assets/img/portfolio/grid/9.jpg" alt="" class="fw_featured_image" width="540" height="420">
                    <div class="grid-port-fadder"></div>
                    <div class="grid-port-cont">
                        <span class="grid-port-ico"></span>
                        <h6>In scelerisque sem at dolor</h6>
                    </div>
                </a>
            </div>
            <div class="nature element grid-port-item">
                <a href="portfolio-simple-post.html" class="blogpost_title">
                    <img src="/assets/img/portfolio/grid/10.jpg" alt="" class="fw_featured_image" width="540" height="420">
                    <div class="grid-port-fadder"></div>
                    <div class="grid-port-cont">
                        <span class="grid-port-ico"></span>
                        <h6>Sed convallis tristique sem</h6>
                    </div>
                </a>
            </div>
            <div class="portrait element grid-port-item">
                <a href="portfolio-simple-post.html" class="blogpost_title">
                    <img src="/assets/img/portfolio/grid/11.jpg" alt="" class="fw_featured_image" width="540" height="420">
                    <div class="grid-port-fadder"></div>
                    <div class="grid-port-cont">
                        <span class="grid-port-ico"></span>
                        <h6>Proin ut ligula vel nunc egestas</h6>
                    </div>
                </a>
            </div>
            <div class="stuff element grid-port-item">
                <a href="portfolio-simple-post.html" class="blogpost_title">
                    <img src="/assets/img/portfolio/grid/12.jpg" alt="" class="fw_featured_image" width="540" height="420">
                    <div class="grid-port-fadder"></div>
                    <div class="grid-port-cont">
                        <span class="grid-port-ico"></span>
                        <h6>Morbi lectus risus iaculis vel</h6>
                    </div>
                </a>
            </div>
            <div class="advertisement element grid-port-item">
                <a href="portfolio-simple-post.html" class="blogpost_title">
                    <img src="/assets/img/portfolio/grid/13.jpg" alt="" class="fw_featured_image" width="540" height="420">
                    <div class="grid-port-fadder"></div>
                    <div class="grid-port-cont">
                        <span class="grid-port-ico"></span>
                        <h6>Fusce ac turpis ligula lacinia</h6>
                    </div>
                </a>
            </div>
            <div class="architecture element grid-port-item">
                <a href="portfolio-simple-post.html" class="blogpost_title">
                    <img src="/assets/img/portfolio/grid/14.jpg" alt="" class="fw_featured_image" width="540" height="420">
                    <div class="grid-port-fadder"></div>
                    <div class="grid-port-cont">
                        <span class="grid-port-ico"></span>
                        <h6>Nulla metus metus ullamcorper vel</h6>
                    </div>
                </a>
            </div>
            <div class="fashion element grid-port-item">
                <a href="portfolio-simple-post.html" class="blogpost_title">
                    <img src="/assets/img/portfolio/grid/15.jpg" alt="" class="fw_featured_image" width="540" height="420">
                    <div class="grid-port-fadder"></div>
                    <div class="grid-port-cont">
                        <span class="grid-port-ico"></span>
                        <h6>Quisque volutpat condim velit</h6>
                    </div>
                </a>
            </div>
            <div class="nature element grid-port-item">
                <a href="portfolio-simple-post.html" class="blogpost_title">
                    <img src="/assets/img/portfolio/grid/16.jpg" alt="" class="fw_featured_image" width="540" height="420">
                    <div class="grid-port-fadder"></div>
                    <div class="grid-port-cont">
                        <span class="grid-port-ico"></span>
                        <h6>Class aptent taciti sociosqu ad</h6>
                    </div>
                </a>
            </div>
            <div class="portrait element grid-port-item">
                <a href="portfolio-simple-post.html" class="blogpost_title">
                    <img src="/assets/img/portfolio/grid/17.jpg" alt="" class="fw_featured_image" width="540" height="420">
                    <div class="grid-port-fadder"></div>
                    <div class="grid-port-cont">
                        <span class="grid-port-ico"></span>
                        <h6>Sed lacinia urna non tincidunt</h6>
                    </div>
                </a>
            </div>
            <div class="stuff element grid-port-item">
                <a href="portfolio-simple-post.html" class="blogpost_title">
                    <img src="/assets/img/portfolio/grid/18.jpg" alt="" class="fw_featured_image" width="540" height="420">
                    <div class="grid-port-fadder"></div>
                    <div class="grid-port-cont">
                        <span class="grid-port-ico"></span>
                        <h6>Nunc feugiat mi a tellus consequat</h6>
                    </div>
                </a>
            </div>
            <div class="advertisement element grid-port-item">
                <a href="portfolio-simple-post.html" class="blogpost_title">
                    <img src="/assets/img/portfolio/grid/19.jpg" alt="" class="fw_featured_image" width="540" height="420">
                    <div class="grid-port-fadder"></div>
                    <div class="grid-port-cont">
                        <span class="grid-port-ico"></span>
                        <h6>Suspendisse in justo eu magna luctus</h6>
                    </div>
                </a>
            </div>
            <div class="architecture element grid-port-item">
                <a href="portfolio-simple-post.html" class="blogpost_title">
                    <img src="/assets/img/portfolio/grid/20.jpg" alt="" class="fw_featured_image" width="540" height="420">
                    <div class="grid-port-fadder"></div>
                    <div class="grid-port-cont">
                        <span class="grid-port-ico"></span>
                        <h6>Integer euismod lacus luctus magna</h6>
                    </div>
                </a>
            </div>
            <div class="fashion element grid-port-item">
                <a href="portfolio-simple-post.html" class="blogpost_title">
                    <img src="/assets/img/portfolio/grid/21.jpg" alt="" class="fw_featured_image" width="540" height="420">
                    <div class="grid-port-fadder"></div>
                    <div class="grid-port-cont">
                        <span class="grid-port-ico"></span>
                        <h6>Interdum magna augue eget diam</h6>
                    </div>
                </a>
            </div>
            <div class="nature element grid-port-item">
                <a href="portfolio-simple-post.html" class="blogpost_title">
                    <img src="/assets/img/portfolio/grid/22.jpg" alt="" class="fw_featured_image" width="540" height="420">
                    <div class="grid-port-fadder"></div>
                    <div class="grid-port-cont">
                        <span class="grid-port-ico"></span>
                        <h6>Vestibulum tincidunt males tellus</h6>
                    </div>
                </a>
            </div>
            <div class="portrait element grid-port-item">
                <a href="portfolio-simple-post.html" class="blogpost_title">
                    <img src="/assets/img/portfolio/grid/23.jpg" alt="" class="fw_featured_image" width="540" height="420">
                    <div class="grid-port-fadder"></div>
                    <div class="grid-port-cont">
                        <span class="grid-port-ico"></span>
                        <h6>Morbi in dui quis est pulvinar</h6>
                    </div>
                </a>
            </div>
            <div class="stuff element grid-port-item">
                <a href="portfolio-simple-post.html" class="blogpost_title">
                    <img src="/assets/img/portfolio/grid/24.jpg" alt="" class="fw_featured_image" width="540" height="420">
                    <div class="grid-port-fadder"></div>
                    <div class="grid-port-cont">
                        <span class="grid-port-ico"></span>
                        <h6>Integer lacinia sollicitudin massa</h6>
                    </div>
                </a>
            </div>
            <div class="advertisement architecture fashion nature portrait stuff element grid-port-item">
                <a href="portfolio-simple-post.html" class="blogpost_title">
                    <img src="/assets/img/portfolio/grid/25.jpg" alt="" class="fw_featured_image" width="540" height="420">
                    <div class="grid-port-fadder"></div>
                    <div class="grid-port-cont">
                        <span class="grid-port-ico"></span>
                        <h6>Sed aliquet risus a tortor</h6>
                    </div>
                </a>
            </div>
        </div>
	</div>

    <a href="javascript:void(0)" class="pagline_toggler"></a>
    <div class="la-anim-11 la-animate preloader"></div>
    <script>
		jQuery(document).ready(function(){
			"use strict";
			jQuery('.grid-port-cont').each(function(){
				jQuery(this).css('margin-top', -1*(jQuery(this).height()/2)+'px')
			});
			if (jQuery('.pagline_toggler').size() > 0) {
				jQuery('html').addClass('hasPag');
			}
			setTimeout(function(){
				jQuery('.fullscreen_block').removeClass('hided');
				if (jQuery('.fw_line').size() > 0) jQuery('.fw_line').addClass('loaded');
			},2500);
			setTimeout("jQuery('.preloader').remove()",2700);
		});
    </script>

	<div class="custom_bg"></div>
	<script type="text/javascript" src="js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="js/modules.js"></script>
	<script type="text/javascript" src="js/theme.js"></script>
    <script type="text/javascript" src="js/jquery.isotope.min.js"></script>
    <script type="text/javascript" src="js/sorting.js"></script>
</body>
</html>
