.custom_bg
script(type='text/javascript', src='js/jquery-ui.min.js')
script(type='text/javascript', src='js/modules.js')
script(type='text/javascript', src='js/theme.js')
script(type='text/javascript', src='js/jquery.isotope.min.js')
script(type='text/javascript', src='js/sorting.js')
